[submodule "web"]
	path = web
	url = https://github.com/rcaldas-com/web.git
	branch = main
[submodule "wallet"]
	path = wallet
	url = https://github.com/rcaldas-com/wallet.git
	branch = main
[submodule "emailer"]
	path = emailer
	url = https://github.com/rcaldas-com/mailer.git
	branch = main
[submodule "car"]
	path = car
	url = https://github.com/rcaldas-com/car-web.git
	branch = main
[submodule "site"]
	path = site
	url = https://github.com/rcaldas-com/site.git
	branch = main
[submodule "ccxt"]
	path = ccxt
	url = git@github.com:rcaldas-com/ccxt.git
